services:
    aws-bundle:
        image: rareloop/php-composer:php-8.2-cli-composer-2
        command: ["bash"]
        working_dir: /app
        volumes:
            - ./:/app:delegated
        tty: true
        stdin_open: true
        networks:
            - landingi-aws-bundle

networks:
    landingi-aws-bundle:
        name: landingi-aws-bundle
        driver: bridge
